---
import Layout from "../layouts/Layout.astro";
import HeroSubpages from "../components/shared/HeroSubpage.astro";
import frios from "../assets/tabua-de-frios.jpg";
import bolinho from "../assets/bolinho-de-costela.jpg";
import pasteis from "../assets/mini-pasteis.jpg";
import tilapia from "../assets/iscas-de-tilapia.jpg";
import risoto from "../assets/risoto-de-limao.jpg";
import burger from "../assets/burger-da-casa.jpg";
import file from "../assets/file-ao-molho.jpg";
import petit from "../assets/petit-gateau-com-sorvete-de-baunilha 1.jpg";
import cheesecake from "../assets/cheesecake-com-frutas-vermelhas.jpg";
import brownie from "../assets/brownie-com-calda-de-chocolate.jpg";
import gin from "../assets/gin-limao-siciliano-e-toque-de-mel.jpg";
import vodka from "../assets/vodka-maracuja-e-gengibre.jpg";
import espumante from "../assets/espumante-aperol-e-toque-de-caju.jpg";
import whisky from "../assets/whisky-licor-de-cafe-e-raspas-de-laranja.jpg";
import rum from "../assets/rum-hortela-limao-e-gengibre.jpg";
import chopp from "../assets/chopp-da-casa.jpg";
import ipa from "../assets/ipa-artesanal.jpg";
import weiss from "../assets/weiss-premium.jpg";
import long from "../assets//long-neck.jpg";
import BtnDefault from "../components/shared/BtnDefault.astro";
---

<Layout pageTitle="Menu">
  <HeroSubpages
    textTitle="Nosso <span>Menu</span>/<span>Cardápio</span>"
    textDescription="Da coquetelaria autoral aos petiscos irresistíveis, tudo aqui foi feito pra combinar com boas conversas e risadas sinceras."
  />
  <section id="menu-section">
    <div class="categorias">
      <BtnDefault label="Petiscos & Acompanhamentos" ref="#petiscos" />
      <BtnDefault label="Pratos Principais" ref="#pratos-principais" />
      <BtnDefault label="Sobremesas" ref="#sobremesas" />
      <BtnDefault label="Drinks da Casa" ref="#drinks" />
      <BtnDefault label="Cervejas & Chopes" ref="#cervejas" />
    </div>
    <div class="menu-grid container">
      <div class="section" id="petiscos">
        <h2>Petiscos & Acompanhamentos</h2>
        <div class="cards">
          <article class="card">
            <img src={frios.src} alt="Tabúa de frios" />
            <h3>Tábua Bar-Baridade</h3>
            <p>Mix de Queijos, Frios e Frutas Secas.</p>
          </article>

          <article class="card">
            <img src={bolinho.src} alt="Bolinho de costela" />
            <h3>Bolinho de Costela</h3>
            <p>Crocante por fora, suculento por dentro.</p>
          </article>

          <article class="card">
            <img src={pasteis.src} alt="Minia pastéis" />
            <h3>Mini Pastéis Sortidos</h3>
            <p>Carne, Queijo e Palmito.</p>
          </article>

          <article class="card">
            <img src={tilapia.src} alt="Iscas de tilápia" />
            <h3>Iscas de Tilápia</h3>
            <p>Com molho tartaro artesanal.</p>
          </article>
        </div>
      </div>

      <div class="section" id="pratos-principais">
        <h2>Pratos principais</h2>
        <div class="cards">
          <article class="card">
            <img
              src={risoto.src}
              alt="Risoto de limão siciliano com camarões"
            />
            <h3>Risoto Ao Limão Siciliano</h3>
            <p>Leve, Cremoso e Marcante.</p>
          </article>

          <article class="card">
            <img src={burger.src} alt="Burger da casa" />
            <h3>Burger Da Casa</h3>
            <p>Blend artesanal, queijo brie e geleia de pimenta.</p>
          </article>

          <article class="card">
            <img src={file.src} alt="Filé Ao Molho" />
            <h3>Filé Ao Molho</h3>
            <p>Contra filé ao molho de vinho tinto e ervas.</p>
          </article>
        </div>
      </div>

      <div class="section" id="sobremesas">
        <h2>Sobremesas</h2>
        <div class="cards">
          <article class="card">
            <img src={petit.src} alt="Petit Gateau com sorvete de baunilha" />
            <h3>Petit Gateau</h3>
            <p>Com sorvete de baunilha.</p>
          </article>

          <article class="card">
            <img src={cheesecake.src} alt="Cheesecake de frutas vermelhas" />
            <h3>Cheesecake</h3>
            <p>De frutas vermelhas.</p>
          </article>

          <article class="card">
            <img
              src={brownie.src}
              alt="Brownie com calda quente de chocolate"
            />
            <h3>Brownie</h3>
            <p>Com calda quente de chocolate.</p>
          </article>
        </div>
      </div>

      <div class="section" id="drinks">
        <h2>Drinks da Casa</h2>
        <div class="cards">
          <article class="card">
            <img src={gin.src} alt="Clássico Baridade" />
            <h3>Clássico Baridade</h3>
            <p>Gin, Limão Siciliano e toque de mel.</p>
          </article>

          <article class="card">
            <img src={vodka.src} alt="To Suave Mas Nem Tanto" />
            <h3>To Suave, Mas Nem Tanto</h3>
            <p>Vodka, Maracujá e Gengibre.</p>
          </article>

          <article class="card">
            <img src={espumante.src} alt="Tropical Baridade" />
            <h3>Spritz do Cerrado</h3>
            <p>Espumante, Aperol e Toque de Caju.</p>
          </article>

          <article class="card">
            <img src={whisky.src} alt="Elegancia Duvidosa" />
            <h3>Elegência Duvidosa</h3>
            <p>Wisky, Licor de Café e Laranaja.</p>
          </article>

          <article class="card">
            <img src={rum.src} alt="Elegancia Duvidosa" />
            <h3>Bar-baridade Mule</h3>
            <p>Rum, hortelã, limão e gengibre.</p>
          </article>
        </div>
      </div>

      <div class="section" id="cervejas">
        <h2>Chopes & Cervejas</h2>
        <div class="cards">
          <article class="card">
            <img src={chopp.src} alt="Chope pilsen da casa" />
            <h3>Chope Pilsen da Casa</h3>
            <p>300ml / 500ml.</p>
          </article>

          <article class="card">
            <img src={ipa.src} alt="IPA artesanal" />
            <h3>IPA Artesanal</h3>
            <p>Amargor elegante, Aroma Cítrico.</p>
          </article>

          <article class="card">
            <img src={weiss.src} alt="Weiss Premium" />
            <h3>Weiss Premium</h3>
            <p>Leve e Cremoso.</p>
          </article>

          <article class="card">
            <img src={long.src} alt="Long Neck" />
            <h3>Long Neck Importada</h3>
            <p>Heineken/Stella/Corona.</p>
          </article>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  #menu-section {
    background-color: var(--white);
    padding: 96px 0;

    .categorias {
      display: flex;
      justify-content: center;
      gap: 40px;
    }

    .menu-grid {
      display: grid;
      gap: 40px;
      align-items: start;

      .section {
        h2 {
          font-size: 48px;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          color: var(--primary-color);
          margin: 96px 0 64px;
        }

        .cards {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 80px;

          .card {
            background: var(--secondary-color);
            border-radius: 16px;
            padding: 12px 12px 24px;
            text-align: center;
            color: white;

            img {
              width: 100%;
              border-radius: 14px;
            }

            h3 {
              font-weight: 600;
              font-size: 24px;
              letter-spacing: 0.2px;
              margin: 16px 0 12px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1280px) {
    #menu-section {
      background-color: var(--white);
      padding: 64px 16px;

      .categorias {
        flex-wrap: wrap;
        gap: 24px;
      }

      .menu-grid {
        .section {
          h2 {
            font-size: 36px;
            margin: 80px 0 64px;
          }

          .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .card {
              h3 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 720px) {
    #menu-section {
      .categorias {
        gap: 16px;
        font-size: 14px;
      }

      .menu-grid {
        gap: 24px;

        .section {
          h2 {
            font-size: 24px;
          }

          .cards {
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;

            .card {
              h3 {
                font-size: 18px;
              }

              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
</style>
