---
import Layout from "../layouts/Layout.astro";
import HeroSubpages from "../components/shared/HeroSubpage.astro";
import BtnDefault from "../components/shared/BtnDefault.astro";
import type { ItemMenuDetalhes } from "@types";
const apiUrl = import.meta.env.PUBLIC_API_URL;
const itemMenuDetalhesResponse = await fetch(`${apiUrl}/menu-itens`);
const itemMenuDetalhesData = await itemMenuDetalhesResponse.json();
---

<Layout pageTitle="Menu">
  <HeroSubpages
    textTitle="Nosso <span>Menu</span>/<span>Cardápio</span>"
    textDescription="Da coquetelaria autoral aos petiscos irresistíveis, tudo aqui foi feito pra combinar com boas conversas e risadas sinceras."
  />
  <section id="menu-section">
    <div class="categorias">
      <BtnDefault label="Petiscos & Acompanhamentos" ref="#PETISCOS_E_ACOMPANHAMENTOS" anchor=true />
      <BtnDefault label="Pratos Principais" ref="#PRATOS_PRINCIPAIS" anchor=true />
      <BtnDefault label="Sobremesas" ref="#SOBREMESAS" anchor=true />
      <BtnDefault label="Drinks da Casa" ref="#DRINKS_DA_CASA" anchor=true />
      <BtnDefault label="Cervejas & Chopes" ref="#CERVEJAS_E_CHOPES" anchor=true/>
    </div>
    <div class="menu-grid container">
      {
        itemMenuDetalhesData.map(
          (itemMenuDetalhes: ItemMenuDetalhes) =>
            itemMenuDetalhes.itens.length > 0 && (
              <div class="section" id={itemMenuDetalhes.categoria}>
                <h2>{itemMenuDetalhes.descricaoCategoria}</h2>
                <div class="cards">
                  {itemMenuDetalhes.itens.map((item) => (
                    <article class="card">
                      <img
                        src={item.base64Image}
                        alt={item.descricaoAltImage}
                      />
                      <h3>{item.nome}</h3>
                      <p>{item.descricao}</p>
                    </article>
                  ))}
                </div>
              </div>
            ),
        )
      }
    </div>
  </section>
  
<style>
  #menu-section {
    background-color: var(--white);
    padding: 96px 0;

    .categorias {
      display: flex;
      justify-content: center;
      gap: 40px;
    }

    .menu-grid {
      display: grid;
      gap: 40px;
      align-items: start;

      .section {
        h2 {
          font-size: 48px;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          color: var(--primary-color);
          margin: 96px 0 64px;
        }

        .cards {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 80px;

          .card {
            background: var(--secondary-color);
            border-radius: 16px;
            padding: 12px 12px 24px;
            text-align: center;
            color: white;

            img {
              width: 100%;
              border-radius: 14px;
            }

            h3 {
              font-weight: 600;
              font-size: 24px;
              letter-spacing: 0.2px;
              margin: 16px 0 12px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .card-buttons {
    justify-content: center;
    gap: 16px;
    margin-top: 24px;

    .btn-default {
      border-radius: 12px;
      transition: all 0.2s;
      padding: 16px 24px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
    }

  @media (max-width: 1280px) {
    #menu-section {
      background-color: var(--white);
      padding: 64px 16px;

      .categorias {
        flex-wrap: wrap;
        gap: 24px;
      }

      .menu-grid {
        .section {
          h2 {
            font-size: 36px;
            margin: 80px 0 64px;
          }

          .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .card {
              h3 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 720px) {
    #menu-section {
      .categorias {
        gap: 16px;
        font-size: 14px;
      }

      .menu-grid {
        gap: 24px;

        .section {
          h2 {
            font-size: 24px;
          }

          .cards {
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;

            .card {
              h3 {
                font-size: 18px;
              }

              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
</style>
