---
import LayoutPainel from "../../layouts/LayoutPainel.astro";
import type { Categoria } from "@types";
const apiUrl = import.meta.env.PUBLIC_API_URL;
const categoriasResponse = await fetch(`${apiUrl}/enums/categorias-item-menu`);
const categoriasData: Categoria[] = await categoriasResponse.json();
---

<LayoutPainel pageTitle="Cadastro de Novo Item do Menu">
  <section id="novo-item-section">
    <div class="container-960 flex form-wrapper">
      <div class="form-content">
        <h1>Cadastrar novo item de menu</h1>
        <p>Adicione novos sabores ao próximo brinde.</p>
        <form class="flex" id="painel-form-cadastrar">
          <div>
            <label for="name">Nome*</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Dê um nome irresistível ao item"
              class="inputs required"
            />
            <span class="span-required">
              O nome deve ter no mínimo 3 caracteres
            </span>
          </div>
          <div>
            <label for="description">Descrição*</label>
            <input
              type="text"
              name="description"
              id="description"
              placeholder="O que compõe este prato?"
              class="inputs required"
            />
            <span class="span-required">
              A descrição deve ter no mínimo 8 caracteres
            </span>
          </div>
          <div class="form-two-columns flex">
            <div>
              <label for="category">Categoria*</label>
              <select name="category" id="category">
                <option value="" disabled selected>
                  Selecione a categoria
                </option>
                {
                  categoriasData.map((categoria) => (
                    <option value={categoria.valor}>
                      {categoria.descricao}
                    </option>
                  ))
                }
              </select>
              <span class="span-required"> A imagem deve ser válida </span>
            </div>
            <div>
              <label for="image">Imagem*</label>
              <input
                type="file"
                name="image"
                id="image"
                class="inputs required"
              />
              <span class="span-required"> A imagem deve ser válida </span>
            </div>
          </div>
          <div>
            <label for="alt-description">Descrição alt da imagem*</label>
            <input
              type="text"
              name="alt-description"
              id="alt-description"
              placeholder="O que está acontecendo na foto?"
              class="inputs required"
            />
            <span class="span-required">
              A descrição alt da imagem deve ter no mínimo 10 caracteres
            </span>
          </div>
          <div>
            <button id="button" type="button"> Cadastrar </button>
          </div>
        </form>
      </div>
      <div class="preview-item-menu flex">
        <p>Pré-visualização do item</p>
        <div class="card">
          <img id="image-preview" />
          <h3 id="name-preview"></h3>
          <p id="description-preview"></p>
        </div>
      </div>
    </div>
  </section>
</LayoutPainel>

<style>
  #novo-item-section {
    background-color: var(--primary-color);
    padding: 96px 0;

    .form-wrapper {
      padding: 24px 0;
      background-color: var(--light-grey);
      border-radius: 12px;

      .preview-item-menu {
        width: 45%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .card {
          min-width: 373px;
          min-height: 343px;
          background: var(--secondary-color);
          border-radius: 16px;
          padding: 12px 12px 24px;
          text-align: center;
          color: white;

          img {
            width: 100%;
            border-radius: 14px;
          }

          h3 {
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.2px;
            margin: 16px 0 12px;
          }

          p {
            font-size: 14px;
          }
        }
      }

      .form-content {
        padding: 0 32px;
        width: 55%;

        h2 {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 12px;
        }

        form {
          margin-top: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;

          .form-two-columns {
            gap: 40px;

            div {
              width: 50%;
            }
          }

          div {
            width: 100%;

            label,
            p {
              display: block;
              margin-bottom: 8px;
            }

            input,
            select {
              width: 100%;
              padding: 12px;
              border: 2px solid var(--medium-grey);
              border-radius: 12px;
              background-color: var(--medium-grey);
              font-size: 16px;
              font-family: Roboto;

              &:focus {
                outline: none;
              }
            }

            select {
              cursor: pointer;
              appearance: none;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%234b5563'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-position: right 12px center;
              background-size: 16px;
              transition: all 0.2s ease;
            }

            span {
              display: none;
              margin: 6px 0 0 3px;
              color: red;
              font-size: 12px;
            }

            button {
              width: 100%;
              padding: 16px;
              border-radius: 12px;
              border: none;
              background-color: var(--secondary-color);
              color: var(--white);
              text-transform: uppercase;
              font-weight: 600;
              font-size: 18px;
              font-family: Roboto;
              transition: all 0.2s;
              cursor: pointer;
            }

            button:hover {
              background-color: var(--primary-color);
              color: var(--secondary-color);
            }

            button.disabled {
              opacity: 0.6;
              cursor: not-allowed;
            }

            button.disabled:hover {
              background-color: var(--red);
              color: var(--white);
            }
          }
        }
      }
    }
  }
</style>

<script>
  import type { FormDataCadastrar } from "@types";
  import Toastify from "toastify-js";
  import "toastify-js/src/toastify.css";
  const base = import.meta.env.BASE_URL;
  const apiUrl = import.meta.env.PUBLIC_API_URL;

  const btnSubmit = document.getElementById("button");

  const nameInput = document.getElementById("name");
  const descriptionInput = document.getElementById("description");
  const imageInput = document.getElementById("image") as HTMLInputElement;
  const altDescriptionInput = document.getElementById(
    "alt-description",
  ) as HTMLInputElement;

  const namePreview = document.getElementById("name-preview");
  const descriptionPreview = document.getElementById("description-preview");
  const imagePreview = document.getElementById("image-preview");

  nameInput!.addEventListener("input", async () => {
    namePreview!.innerText = (nameInput! as HTMLInputElement).value;
  });
  descriptionInput!.addEventListener("input", async () => {
    descriptionPreview!.innerText = (
      descriptionInput! as HTMLInputElement
    ).value;
  });
  imageInput.addEventListener("input", async () => {
    const arquivo = imageInput.files?.[0];
    if (arquivo) {
      const base64 = await converterParaBase64(arquivo);
      (imagePreview! as HTMLImageElement).src = base64;
    }
  });
  altDescriptionInput!.addEventListener("input", async () => {
    (imagePreview! as HTMLImageElement).alt = (
      altDescriptionInput! as HTMLInputElement
    ).value;
  });

  btnSubmit?.addEventListener("click", async (event: Event) => {
    event.preventDefault();
    btnSubmit.innerText = "Cadastrando...";
    const form = document.getElementById("painel-form-cadastrar");
    const data = new FormData(form as HTMLFormElement);
    const imgInput = document.getElementById("image") as HTMLInputElement;
    const arquivo = imgInput.files?.[0];
    if (!arquivo) {
      alert("Selecione uma imagem!");
      return;
    }
    const base64 = await converterParaBase64(arquivo);
    const formData: FormDataCadastrar = {
      nome: data.get("name") as string,
      categoria: data.get("category") as string,
      descricao: data.get("description") as string,
      descricaoAltImage: data.get("alt-description") as string,
      base64Image: base64,
    };

    await fetch(`${apiUrl}/menu-item/cadastrar`, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(formData),
    })
      .then(async (res) => {
        const data = await res.json();
        let backgroundColor;
        if (res.ok) {
          backgroundColor =
            "linear-gradient(to right, rgba(40, 167, 69, 0.8), rgba(25, 135, 84, 0.9))";
        } else {
          backgroundColor =
            "linear-gradient(to right, rgba(220, 53, 69, 0.85), rgba(139, 0, 0, 0.8))";
        }
        Toastify({
          text: data.message,
          close: true,
          offset: {
            x: 12,
            y: 132,
          },
          style: {
            backgroundImage: backgroundColor,
            borderRadius: "12px",
            padding: "24px",
            fontSize: "18px",
            maxWidth: "350px",
          },
          onClick: function () {},
        }).showToast();
        if (res.ok) {
          setTimeout(() => {
            window.location.replace(`${base}/painel/menu-itens`);
          }, 2000);
        }
      })
      .catch((error) => {
        console.error(error);

        Toastify({
          text: "O servidor está fora do ar. Tente novamente mais tarde!",
          close: true,
          offset: {
            x: 12,
            y: 132,
          },
          style: {
            backgroundImage:
              "linear-gradient(to right, rgba(220, 53, 69, 0.7), rgba(139, 0, 0, 0.85))",
            borderRadius: "12px",
            padding: "24px",
            fontSize: "18px",
            maxWidth: "350px",
          },
        }).showToast();
      })
      .finally(() => {
        btnSubmit.innerText = "Cadastrar";
      });
  });

  function converterParaBase64(file: File): Promise<string> {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => resolve(reader.result as string);
      reader.onerror = (error) => reject(error);
    });
  }
</script>
